.exercise-create-body .exercise-nav {
	padding: 0 10px;
	padding-bottom: 15px;
}

.exercise-create-body .middle-exercise {
	padding: 0 80px;F
}

.point{
	margin-bottom: 15px; 

}

/*.question-table{
	display:block;
	overflow-y:auto;
	height:250px;
}*/